<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- To resolve issue with .NET 6: https://github.com/dotnet/sdk/issues/25379 -->
  <packageSourceMapping>
    <!-- Key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
